<header>
    <h1 id="logo"><a href="/">DoctorsGUI</a></h1>
    <img id="toggleMenu" alt="menu" src="/files/burger-icon.svg" onclick="toggle(this, document.querySelector('#menu'))">
    <nav id="menu">
        <ul>
            <li><a href="#">LOG IN</a></li>
            <li><a href="#">PATIENT-TEST-ID</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </nav>
</header>