<header>
    <h1 id="logo"><a href="/"><img align="top" id="icon" src="files/logo.svg">DoctorsGUI</a></h1>
    <img id="toggleMenu" alt="menu" src="/files/burger-icon.svg" onclick="toggle(this, document.querySelector('#menu'))">
    <nav id="menu">
        <ul>
            <li><a href="/login">LOG IN</a></li>
            <li><a href="/search">PATIENT-TEST-ID</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>
</header>