<main class="center welcome">
    <h2>Test-Results</h2>
    <article>
        <p>Disclamer: The following Data does NOT replace a professional medical<br>evaluation. These are simply
            questions the patient was asked and widch he replied to as he felt correct.</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <p><button class="button purple">01. Allgemein</button><button class="button purple">02.
                Symptomatik</button><button class="button purple">03. Sonstiges</button></p>
    </article>
</main>