	<main class="center welcome">
		<article id="page_0" class="page">
			<h2>01. Allgemeines</h2>
			<table>
				<tr>
					<td>Wie alt sind Sie?</td>
					<td>22</td>
					<td></td>
				</tr>
				<tr>
					<td>Wie ist ihre aktuelle Wohnsituation?</td>
					<td>living alone</td>
					<td><span class="bubble red">Living together</span></td>
				</tr>
				<tr>
					<td>Rauchen Sie?</td>
					<td>Ja</td>
					<td></td>
				</tr>
			</table>
		</article>
		<article id="page_1" class="page hide">
			<h2>02. Symtomatik</h2>
			<table>
				<tr>
					<td>Wie alt sind Sie?</td>
					<td>22</td>
					<td></td>
				</tr>
				<tr>
					<td>Wie ist ihre aktuelle Wohnsituation?</td>
					<td>living alone</td>
					<td><span class="bubble red">Living together</span></td>
				</tr>
				<tr>
					<td>Rauchen Sie?</td>
					<td>Ja</td>
					<td></td>
				</tr>
			</table>
		</article>
		<article id="page_2" class="page hide">	
			<h2>03. Sonstiges</h2>
			<table>
				<tr>
					<td>Wie alt sind Sie?</td>
					<td>22</td>
					<td></td>
				</tr>
			</table>
		</article>
		<ul class="paginator" id="paginator">
			<li><a href="#" class="active">01</a></li>
			<li><a href="#">02</a></li>
			<li><a href="#">03</a></li>
		</ul>
	</main>
	<script src="/js/paginator.js"></script>