<main class="center welcome">
    <h2>Type in Patient-Test-ID</h2>
    <article>
        <h3>WHAT IS THE PATIENT-TEST-ID?</h3>
        <p>The Patient-Test-ID is a randomly generated number that contains the Data<br>of your/your Patients COVID-19 Test.</p>
        <h3>WHERE DO I FIND MY/MY PATIENTS PATIENT-TEST-ID?</h3>
        <P>The Patient receives the ID once he/she completes the online COVID-19<br>Test either digitally or through the phone.</P>

    </article>
    <input type="text" id="patientId" placeholder="Patient-Test-ID"> <button class="purple button" id="singUp">Sign up now!</button>
</main>